/* GENERAL STYLES */
body{
  margin: 0;
  font-size: 16px;
  line-height: 12px;
  font-family: 'Open Sans', sans-serif;
}

section{
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
}

a{
  color: #333333;
}
a:hover{
  color: #8f8f8f;
}
.linkSpan{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
.lora{
  font-family: 'Lora', serif;
  font-weight:bold;
  font-size: 2rem;
}
/* small */
@media (min-width: 600px) {
  .lora{
    font-size: 3rem;
  }
}
.red{
  color:#903;
}
.bigletter {
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.hideMobile{
  display:none;
  visibility:hidden;
}
@media (min-width: 600px) {
  .hideMobile{
    display:inherit;
    visibility: visible;
  }
}

/* SECTION SPECIFIC STYLES */
nav{
  box-sizing: border-box;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-end;
  height:4rem;
  max-width:100%;
  margin: 1rem 10px 2rem 10px;
}
/* small */
@media (min-width: 600px) {
  nav{
    width:550px;
    margin: 1rem auto 2rem auto;
  }
}
/* large */
@media (min-width: 900px) {
  nav{
    width:850px;
    margin: 1rem auto 2rem auto;
  }
}
nav ul{
  flex-grow:1;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  visibility:hidden;
  margin: 0;
}
/* small */
@media (min-width: 600px) {
  nav ul{
    display:block;
    visibility:visible;
    margin: 0;
    padding:0;
    max-width: 300px;
  }
}
nav ul li{

  display:block;
  margin: 0 0 0 0;
  font-size: 1rem;
  border-bottom: solid 3px #903;
  transition: border-bottom 0.3s;
  max-width: 100px;
  padding:2px;
}

nav ul li:hover{
  border-bottom: solid 5px #333;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
}

nav .logo{
  min-width:200px;
  margin: 0 auto 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #333;
}
/* small */
@media (min-width: 600px) {
  nav .logo{
    min-width:300px;
    margin: 0;
    float:left;
  }
}



main{
  width:100%;
}

#header{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
  height:500px;
  width:100%;
  background: url(city1.jpeg) no-repeat center center;
  background-size: cover;
  text-align: center;

}
#headerh1{
  background-color: rgba(0,0,0, 0.4);
  padding: 0 1rem;
  line-height: 5rem;
}
/* small */
@media (min-width: 660px) { /*special width to match text width*/
  #headerh1{
    line-height: 2rem;
  }
}
#header h1{
  color: #fff;
  /*text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);*/
  font-size:3rem;
  display: block;
}

h2{
  color:#333;
  margin: 3rem 0 1rem 0;
  line-height: 3rem;
  border-bottom: solid 3px #333;
}
h3{
  font-size: 1.5em;
    margin-top: 2em;
}

section p{
  font-size:1rem;
  line-height:2rem;
  text-align: justify;
  text-justify: inter-word;
}

section article{
  padding: 0 2rem;
  clear:both;
}
@media (min-width: 600px) {
  section article{
    padding: 0 4rem;
    clear:both;
  }
}
.testimonial-container{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.testimonial{
  color:#737373;
  width:100%;
  position:relative;
  margin-top:2rem;
  padding: 0;
  box-shadow: 3px 6px 17px 0px #cacaca;
}
/* small */
@media (min-width: 750px) {
  .testimonial{
    width:45%;
  }
  .testimonial-container{
    flex-direction:row;
  }
}
.testimonial p{
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.testimonial .signature{
  font-size: 1.5rem;
  font-style:normal;
  color:#fff;
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: 2rem;
}
.testimonial .grey{
  color:#c3c3c3;
  font-size: 1rem;
}
.testimonial-text{
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-style:italic;
  color: #fff;
  padding: 1em 3em;
  background-color: rgba(33, 26, 17, 0.97);
}

.forklifts{
  background:
    url(containers1.jpeg) no-repeat center center;
  background-size:cover;
}
.buttonfactory{
  background:
    url(button-pic.jpg) no-repeat center center;
  background-size:cover;
}
.flexfix{
  width:100%;
  height:100%;
}
.projectOverlay{
  position:relative;
  width:100%;
  height:100%;
  opacity:0.2;
  background:
  linear-gradient(
     to top right,
     rgba(0,0,0,0), rgba(0,0,0,0.1)
   )
  ;
  transition: opacity 0.3s;
}
.projectOverlay:hover{
  opacity:1;
}
.project{
  width:100%;
  height:150px;
  float:left;
  transition: transform 0.3s;
}
.project:hover{
  transform: rotate3d(0.5, 0.5, 0, 10deg);
}
.project.launchpad{
  background:
    url(launchpad.png) no-repeat center center;
  background-size:cover;
}
.project.cashthing{
  background: url(cashthing.png) no-repeat center center;
  background-size:cover;
}
.project.britecube{
  background: url(britecube.png) no-repeat center center;
  background-size:cover;
}
.project.expertfrk{
  background: url(expertfrk.png) no-repeat center center;
  background-size:cover;
}
.project.dashcabs{
  background: url(dashcabs.png) no-repeat center center;
  background-size:cover;
}
.project.reviewyw{
  background: url(reviewyourwebsite.png) no-repeat center center;
  background-size:cover;
}
.project.fill{
  display:none;
  visibility: hidden;
}
/* small */
@media (min-width: 600px) {
  .project{
    width:33%;
    height:200px;
  }
  .project.fill{
    width:15%;
    display:block;
    visibility: visible;
  }
}

ul.contact li{

  list-style: none;
  margin: 0;
  font-size: 1.5rem;
  padding:1rem;
  text-align: center;
}
ul.contact li i{
  display: inline-block;
  clear:both;
  width:3rem;
  padding-bottom:1rem;
}
ul.contact li br{
  display: inline;
}
@media (min-width: 600px) {
  ul.contact li br{
    display: none;
  }
}

footer{
  padding:3rem;
  margin-top:4rem;
  padding-right:2em;
  min-height:10rem;
  background-color: #EEE;
  text-align:center;
  line-height:2rem;
  color:#999;
  border-top: 9px double #999;
}
footer .logo{
  margin-top: 3rem;
}


@media (min-width: 600px) {
  footer{
    text-align:right;
  }
  footer .logo{
    text-align: left;
  }
}
